html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

/* visually-hidden */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


body{
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.wrapper{
    width: 901px;
    margin: 0 auto;
}

/* MENU */
.menu{
   margin-top: 77px; 
}

.menu_item{
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu_item li{
    display: inline-block; 
      
}

.menu_item li:nth-child(1){
    margin-right: 127px;
}

.menu_item li:nth-child(2){
    margin-right: 109px;
}

.menu_item li:nth-child(3){
    margin-right: 95px;
}

li a{
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    color: #626262;
    text-decoration: none;
}

li a:hover{
    color: rgb(0, 183, 255);
}

img{
    width: 421px;
    height: 280px;
}

/* first_row_left */
.first_row_left{
    margin-top: 103px;
    width: 421px;
    display: inline-block;
    margin-right: 55px;
}

.name_section{
   font-family:Ubuntu, 'Helvetica Neue', sans-serif;
   text-transform:uppercase;
   color: #b4ad9e;
   font-size: 14px;
   margin-top: 31px;
}

.name_heading{
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    margin-top: 28px;
    font-size: 30px;
}

.text{
    width: 421px;
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-top: 36px;
}

/* first_row_right */

.first_row_right{
    margin-top: 103px;
    width: 421px;
    display: inline-block;
}

/* second_row_left */

.second_row_left{
    margin-top: 130px;
    display: inline-block;
    width: 421px;
    margin-right: 55px;
}

/* second_row_right */

.second_row_right{
    margin-top: 130px;
    display: inline-block;
    width: 421px;
}

/* third_row_left */

.third_row_left{
    margin-top: 136px;
    display: inline-block;
    width: 421px;
    margin-right: 55px;    
}

/* third_row_right */

.third_row_right{
    margin-top: 136px;
    display: inline-block;
    width: 421px;
}

/* load more */

.load_more{
    text-align: center;
    margin-top: 52px;
    margin-bottom: 70px;
}

.load_more_button{
    border: 1px solid #0c0c0c;
    width: 164px;
    height: 60px;
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;

}