$color_font_grey: #b3b3b3; 
$color_font_black: #333333;
$color_gd_one: #ea8b89e6;
$color_gd_two: #f3e290e6;

$font_Montserrat: Montserrat, Arial, Helvetica, sans-serif;
$font_Kaushan: Kaushan Script , sans-serif;
$font_Roboto: Roboto, sans-serif;