.team{
    margin-bottom: 81px;
 }
 
 .team__text{
     width: 941px;
     height: 41px;
     font-family: $font_Roboto;
     color: #999999;
     font-size: 15px;
     font-weight: 400;
     line-height: 24px;
     margin: 0 auto;
     margin-top: 45px;
     margin-bottom: 81px;
     text-align: center;
 }
 